@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans:wght@300&display=swap');

body {
    background-color: #023047;
    margin: 0;
    padding: 0;
}
#content {
    background-color: #8ecae6;
    max-width: 1600px;
    margin: 0 auto;
}
h4 {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Caveat', serif;
    font-size: 1.5em;
    line-height: 1.1em;
}
p { 
    color:#023047;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}
nav { 
    background-color: #023047;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
nav a:hover{ 
    background-color: #ffdc85;
    color: #023047;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 200px;
    height: 100px;
    position: relative;
}
.home-title {
    font-family: 'Caveat';
    text-align: center;
    margin-top: 10px;
    color: #ffdc85;
    font-size: 2.25em
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #023047;
}
img{
    max-width: 100%
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-img {
    width: 100%;
    height: 600px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.book, .join {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #023047;
    color: #ffdc85;
}
.button-box {
    text-align: center;
    margin: 55px;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}
.river-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}
.contact-grid {
    display: grid;
    grid-template-columns: .5fr 3fr 1fr 3fr .5fr
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: 300px
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    height: 725px;
    background-color: #219ebc;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #ffdc85;
    padding: 25px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: black;
    margin: 0;
    font-size: 1.25em;
}
.msg p {
    font-size: .75em;
    color: black;
    padding-bottom: 15px
}
.salmon_river {
    margin-top: 50px;
    grid-column: 2/5;
    grid-row: 2/4;
    box-shadow: 5px 5px 10px #6f7364;

}
.idaho {
    background-color:#219ebc;
    grid-column: 4/10;
    grid-row: 3/5;
    opacity: .8;
    box-shadow: 5px 5px 10px #6f7364;
    margin: auto;
}
.idaho h2 {
    font-family: 'Caveat';
    color: #ffdc85;
    font-size: 1.5em;
}
.idaho p {
    font-size: 1em;
    color: white;
    padding: 15px 25px
}
.gray_canyon {
    margin-top: 50px;
    grid-column: 8/10;
    grid-row: 6/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.utah {
    background-color:#219ebc;
    grid-column: 2/9;
    grid-row: 7/9;
    opacity: .8;
    box-shadow: 5px 5px 10px #6f7364;
    margin: auto;
}
.utah h2 {
    font-family: 'Caveat';
    color: #ffdc85;
    font-size: 1.5em;
}
.utah p {
    font-size: 1em;
    color: white;
    padding: 15px 25px
}
.grand_canyon {
    margin-top: 50px;
    grid-column: 2/5;
    grid-row: 10/12;
    box-shadow: 5px 5px 10px #6f7364;
}
.arizona {
    background-color:#219ebc;
    grid-column: 4/10;
    grid-row: 11/13;
    opacity: .8;
    box-shadow: 5px 5px 10px #6f7364;
    margin: auto;
}
.arizona h2 {
    font-family: 'Caveat';
    color: #ffdc85;
    font-size: 1.5em;
}
.arizona p {
    font-size: 1em;
    color: white;
    padding: 15px 25px;
}
.book-here {
    background-color:#219ebc;
    margin: auto;
    grid-column: 2/3;
    grid-row: 1/4;
    box-shadow: 5px 5px 10px #6f7364;
}
.book-here h2 {
    color: #ffdc85;
    font-size: 1.5em;
}
.book-here p {
    font-size: 1em;
    color: white;
    padding: 10px 25px;
}
.support {
    background-color:#219ebc;
    margin: auto;
    grid-column: 4/5;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;
}
.support h2 {
    color: #ffdc85;
    font-size: 1.5em;
}
.support p {
    font-size: 1em;
    color: white;
    padding: 0 25px;
}
.message {
    background-color: #ffdc85;
    margin: auto;
    padding-top: 10px;
    grid-column: 4/5;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  form li + li {
    margin-top: 1em;
  }
  label {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  textarea {
    vertical-align: top;
    height: 5em;
  }
  .button {
    padding-left: 90px;
  }
  button {
    margin-left: 0.5em;
  }
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
footer {
    background-color: #023047;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#info { 
    color: white; 
    font-size: .5em; 
}
footer a {
    color: white;
    font-size: .5em;
    text-decoration: none;
}
footer a:hover {
    color: #ffdc85;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg, .salmon_river, .idaho, .gray_canyon, .utah, .grand_canyon, .arizona {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}