@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans:wght@300&display=swap');

body {
    background-color: #023047;
    margin: 0;
    padding: 0;
}
#content {
    background-color: #8ecae6;
    max-width: 1600px;
    margin: 0 auto;
}
h4 {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Caveat', serif;
    font-size: 1.5em;
    line-height: 1.1em;
}
p { 
    color:#023047;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}
nav { 
    background-color: #023047;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
nav a:hover{ 
    background-color: #ffdc85;
    color: #023047;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 200px;
    height: 100px;
    position: relative;
}
.home-title {
    font-family: 'Caveat';
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 2.25em
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #023047;
}
img{
    max-width: 100%
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-img {
    width: 100%;
    height: 600px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-msg h1{
    color:#ffdc85
}
.book, .join {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #023047;
    color: #ffdc85;
}
.button-box {
    text-align: center;
    margin: 55px;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: 300px
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    height: 725px;
    background-color: #219ebc;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #ffdc85;
    padding: 25px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: black;
    margin: 0;
    font-size: 1.25em;
}
.msg p {
    font-size: .75em;
    color: black;
    padding-bottom: 15px
}
footer {
    background-color: #023047;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#info { 
    color: white; 
    font-size: .5em; 
}
footer a {
    color: white;
    font-size: .5em;
    text-decoration: none;
}
footer a:hover {
    color: #ffdc85;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}