@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Merriweather:wght@300&display=swap');
/* --primary-color: #EA242A   ;
--secondary-color: #ECDEB9 ;
--accent1-color: #DCCAA0;
--accent2-color: #BC3C3E; */

body {
    background-color: #EA242A;
    margin: 0;
    padding: 0;
}
#content {
    background-color: #ECDEB9;
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2 {
    color: #BC3C3E;
    padding: 10px;
    text-align: center;
    font-family: "Eczar";
    font-size: 1.5em;
    line-height: 1.1em;
}
p { 
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.25em;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #EA242A;
}
nav { 
    background-color: #EA242A;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    padding: 1em 1em;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1em;
}
nav a:hover{ 
    background-color: #BC3C3E;
    color: #ECDEB9;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 200px;
    height: 100px;
    position: relative;
    margin: 15px
}
img{
    max-width: 100%
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#hero-img {
    width: 100%;
    height: 600px;
}
#hero-msg {
    text-align: center;
    font-family: "Eczar";
    font-size: 2em;
    color: #BC3C3E
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: -150px;
}
.martial-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr
}
.casting-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    height: 350px
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-msg {
    color: #BC3C3E;
    font-family: "Eczar";
    font-size: 1.75em;
}
.martial-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.casting-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.dragon {
    width: 100%;
    grid-column: 2/5;
    grid-row: 3/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #DCCAA0;
    padding: 25px;
    grid-column: 3/7;
    grid-row: 7/9;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: 'Merriweather', serif;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #d9c2a3;
    color: #BC3C3E;
  }
  .flip-card-back {
    background-color: #EA242A;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back h2 {
    color: white;
  }
.barbarian-card {
    grid-column: 2/3;
    grid-row: 1/2
}
.fighter-card {
    grid-column: 4/5;
    grid-row: 1/2;
}
.monk-card {
    grid-column: 2/3;
    grid-row: 2/3;
}
.paladin-card {
    grid-column: 4/5;
    grid-row: 2/3;
}
.ranger-card {
    grid-column: 2/3;
    grid-row: 3/4;
}
.rogue-card {
    grid-column: 4/5;
    grid-row: 3/4;
}
.bard-card {
    grid-column: 2/3;
    grid-row: 1/2
}
.cleric-card {
    grid-column: 4/5;
    grid-row: 1/2;
}
.druid-card {
    grid-column: 2/3;
    grid-row: 2/3;
}
.sorcerer-card {
    grid-column: 4/5;
    grid-row: 2/3;
}
.warlock-card {
    grid-column: 2/3;
    grid-row: 3/4;
}
.wizard-card {
    grid-column: 4/5;
    grid-row: 3/4;
}
footer {
    background-color: #EA242A;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#info { 
    color: white; 
    font-family: 'Merriweather', serif;
    font-size: .75em; 
}
footer a {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: .75em;
    text-decoration: none;
}
footer a:hover {
    color: #ECDEB9;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}